<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SuiteOfTests" verbose="1" parallel="methods" thread-count="45">
    <listeners>
        <listener class-name="framework.Listener"/>
    </listeners>
    <test name="Test Classes" preserve-order="false" parallel="classes">
        <classes>
            <class name="com.idfbins.qa.guidewire.TestClassOne"/>
            <class name="com.idfbins.qa.guidewire.TestClassTwo"/>
            <!--<class name="com.idfbins.qa.guidewire.TestClassThree"/>-->
        </classes>
    </test>
</suite>
